absl-py==1.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.2.0
alembic==1.14.1
altair==5.3.0
amqp==5.0.9
annotated-types==0.6.0
anyio==4.8.0
anyjson==0.3.3
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.1
attrs==23.2.0
Automat==24.8.1
automaton==2.4.0
autopage==0.4.0
awscli==1.22.34
azure-core==1.34.0
azure-cosmos==4.9.0
azure-identity==1.23.0
azure-openai @ file:///home/lata/Desktop/AEC-Market-Intelligence-Navigator/azure-sdk-for-python/sdk/openai/azure-openai
Babel==2.15.0
backcall==0.2.0
bcc==0.18.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
botocore==1.23.34
Brlapi==0.8.3
Brotli==1.1.0
cachelib==0.13.0
cachetools==5.0.0
castellan==3.10.0
certifi==2024.6.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
chrome-gnome-shell==0.0.0
click==8.1.7
cliff==3.10.0
cmake==3.27.1
cmd2==0.0.0
colorama==0.4.4
comm==0.1.4
command-not-found==0.3
constantly==23.10.4
contourpy==1.1.0
cotyledon==1.7.3
cryptography==44.0.0
cssselect==1.2.0
cssselect2==0.7.0
cupshelpers==1.0
cycler==0.11.0
dataclasses-json==0.6.7
datasets==3.5.0
dbus-fast==2.44.1
dbus-python==1.2.18
debtcollector==2.3.0
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
deprecation==2.0.7
diffusers==0.31.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.0.3
dm-tree==0.1.8
dnspython==2.6.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
dogpile.cache==1.1.4
duplicity==0.8.21
efficient_apriori==2.0.5
et_xmlfile==2.0.0
eventlet==0.30.2
exceptiongroup==1.1.3
executing==2.0.0
extras==1.0.0
fake-useragent==2.0.3
fastapi==0.110.3
fasteners==0.14.1
fastjsonschema==2.19.1
ffmpy==0.3.2
fido2==0.9.1
filelock==3.12.2
filetype==1.2.0
findspark==2.0.1
fixtures==3.0.0
Flask==3.0.2
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.42.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.2.0
fsspec==2023.6.0
future==0.18.2
futurist==2.4.0
fuzzywuzzy==0.18.0
gast==0.4.0
gensim==4.3.1
git-filter-repo==2.45.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.15
google-api-core==2.29.0
google-api-python-client==1.7.11
google-auth==2.48.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-genai==1.61.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.72.0
gradio==4.39.0
gradio_client==1.1.1
greenlet==3.1.1
grpcio==1.76.0
grpcio-status==1.71.2
gspread==6.1.4
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.24.3
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
importlib_resources==6.4.0
incremental==24.7.2
iniconfig==2.3.0
install==1.3.5
ipykernel==6.25.2
ipython==8.16.1
iso8601==1.0.2
isoduration==20.11.0
isort==5.13.2
itemadapter==0.10.0
itemloaders==1.3.2
itsdangerous==2.1.2
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.2
jiter==0.12.0
jmespath==0.10.0
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
kaggle==1.6.14
keras==3.5.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
keystoneauth1==4.4.0
keystonemiddleware==9.4.0
kiwisolver==1.4.4
kombu==5.2.3
langchain==1.2.7
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.7
langchain-google-genai==4.2.0
langchain-openai==0.1.25
langchain-text-splitters==1.1.0
langgraph==1.0.7
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.3
langsmith==0.6.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Levenshtein==0.26.1
libclang==16.0.6
lit==16.0.6
lockfile==0.12.2
logutils==0.3.3
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.3
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
memory-profiler==0.61.0
mistune==3.0.2
ml-dtypes==0.3.2
mlxtend==0.23.1
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.0.3
multidict==5.1.0
multiprocess==0.70.16
munch==2.5.0
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.8
netaddr==0.8.0
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.4.127
oauth2client==4.1.3
oauthlib==2.1.0
octavia==10.1.1
octavia-lib==2.5.0
olefile==0.46
openai==1.109.1
opencv-python==4.10.0.84
openpyxl==3.1.5
openstacksdk==0.61.0
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.2
ormsgpack==1.12.2
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.5.0
oslo.cache==2.9.0
oslo.concurrency==4.5.0
oslo.config==8.8.0
oslo.context==4.1.0
oslo.db==11.2.0
oslo.i18n==5.1.0
oslo.log==4.6.1
oslo.messaging==12.13.0
oslo.metrics==0.4.0
oslo.middleware==4.5.0
oslo.policy==3.11.0
oslo.reports==2.3.0
oslo.serialization==4.2.0
oslo.service==2.8.0
oslo.upgradecheck==1.5.0
oslo.utils==4.12.2
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.1
pandocfilters==1.5.1
paramiko==2.9.3
parsel==1.10.0
parso==0.8.3
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
pbr==5.8.0
pdfkit==1.0.0
pecan==1.3.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==3.11.0
playwright==1.49.1
plotly==5.24.1
pluggy==1.6.0
prettytable==2.5.0
prometheus_client==0.20.0
prompt-toolkit==3.0.39
Protego==0.4.0
proto-plus==1.27.0
protobuf==4.25.8
proton-core==0.7.3
proton-keyring-linux==0.2.1
proton-vpn-api-core==4.13.2
proton-vpn-daemon==0.13.4
proton-vpn-gtk-app==4.12.0
proton-vpn-lib==0.1.1
proton-vpn-network-manager==0.13.4
psutil==5.9.5
psycopg2==2.9.2
ptitprince==0.2.7
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==16.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAudio==0.2.14
pycadf==3.1.1
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.0
PyDispatcher==2.0.7
PyDrive==1.3.1
pydub==0.25.1
pydyf==0.9.0
pyee==12.0.0
Pygments==2.16.1
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
pymongo==4.6.2
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyotp==2.9.0
pyparsing==2.4.7
pyperclip==1.8.2
pyphen==0.14.0
pyRFC3339==1.1
pyroute2==0.post0
pyroute2.core==0.post0
pyroute2.ethtool==0.post0
pyroute2.ipdb==0.post0
pyroute2.ipset==0.post0
pyroute2.ndb==0.post0
pyroute2.nftables==0.post0
pyroute2.nslink==0.post0
pyroute2.protocols==0.post0
pyrsistent==0.18.1
PySocks==1.7.1
pyspark==3.5.4
pyTelegramBotAPI==4.16.1
pytest==9.0.2
python-apt==2.4.0+ubuntu4.1
python-barbicanclient==5.2.0
python-cinderclient==8.3.0
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-glanceclient==3.6.0
python-gnupg==0.4.8
python-json-logger==2.0.7
python-keystoneclient==4.4.0
python-Levenshtein==0.26.1
python-memcached==1.58
python-multipart==0.0.9
python-neutronclient==7.8.0
python-novaclient==17.6.0
python-openstackclient==5.8.0
python-slugify==8.0.4
pyttsx3==2.90
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.1.1
queuelib==1.7.0
RapidFuzz==3.11.0
rawpy==0.23.2
referencing==0.35.0
regex==2023.8.8
reportlab==3.6.8
repoze.lru==0.7
requests==2.32.5
requests-file==2.1.0
requests-oauthlib==1.1.0
requests-toolbelt==1.0.0
requestsexceptions==1.4.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
roman==3.3
Routes==2.5.1
rpds-py==0.18.0
rsa==4.8
ruff==0.4.2
s3transfer==0.5.0
safetensors==0.4.3
schedule==1.2.1
scikit-fuzzy==0.5.0
scikit-learn==1.5.2
scipy==1.11.1
Scrapy==2.12.0
seaborn==0.13.2
SecretStorage==3.3.1
selenium==4.27.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentry-sdk==1.4.3
service-identity==24.2.0
setproctitle==1.2.2
shellingham==1.5.4
simplegeneric==0.8.1
simplejson==3.17.6
simpy==4.1.1
six==1.16.0
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.10.4
SQLAlchemy==2.0.38
sqlalchemy-migrate==0.13.0
SQLAlchemy-Utils==0.37.8
sqlparse==0.4.4
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.37.2
statsd==3.3.0
stevedore==3.5.0
streamlit==1.34.0
stripe==7.11.0
sympy==1.13.1
systemd-python==234
taskflow==4.6.4
telegram==0.0.1
Tempita==0.5.2
tenacity==8.2.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.17.0
tensorflow-cpu==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
terminado==0.18.1
testresources==2.0.1
testscenarios==0.5.0
testtools==2.5.0
text-unidecode==1.3
texttable==1.6.4
threadpoolctl==3.2.0
tiktoken==0.12.0
tinycss2==1.2.1
tldextract==5.1.3
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.5.0
tornado==6.3.3
tqdm==4.67.1
traitlets==5.11.2
transformers==4.43.3
trio==0.28.0
trio-websocket==0.11.1
triton==3.1.0
Twisted==24.11.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
undetected-chromedriver==3.5.5
unittest2==1.1.0
uri-template==1.3.0
uritemplate==3.0.1
urllib3==1.26.20
usb-creator==0.3.7
uuid_utils==0.14.0
uvicorn==0.29.0
vine==5.0.0
virtualenv==20.29.2
w3lib==2.2.1
wadllib==1.3.6
waitress==1.4.4
warlock==1.3.3
watchdog==4.0.0
wcwidth==0.2.8
weasyprint==61.2
webcolors==24.6.0
webdriver-manager==4.0.2
webencodings==0.5.1
WebOb==1.8.6
websocket-client==1.8.0
websockets==14.2
WebTest==2.0.35
Werkzeug==3.0.1
wrapt==1.15.0
WSME==0.11.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
xxhash==3.5.0
yarl==1.7.2
zipp==1.0.0
zope.interface==7.2
zopfli==0.2.3
zstandard==0.25.0
